
<% provide(:title, @user.name) %>

<h1 class="left">
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<pre>
             name: <%= @user.name %>
            email: <%= @user.email %>
       created at: <%= @user.created_at %>
  last updated on: <%= @user.updated_at %>
</pre>
